# This is a basic workflow to help you get started with Actions

name: Sponsors List 

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '*/5 * * * *'

jobs:
  readme_edit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: gleam-lang/setup-erlang@v1.0.0
      with:
        otp-version: 22.1
    - uses: gleam-lang/setup-gleam@v1.0.1
      with:
        gleam-version: 0.9.0
    - name: Clones gleam_contributors
      run: |
        git clone https://github.com/scripttease/gleam_contributors.git
        cd gleam_contributors
        rebar3 install_deps
        rebar3 eunit
        gleam format --check src test
        rebar3 escriptize

    - name: Adds Hello World! to README
      run: |
        gleam_contributors/_build/default/bin/gleam_contributors "GA" $API_TOKEN >> README.md 

    # Runs a set of commands using the runners shell
    - name: Commits and pushes updated README
      run: |
        git add README.md
        git config user.email scripttease@users.noreply.github.com
        git config user.name Al Dee
        git commit README.md -m 'Update README.md with test Cron job' || echo "Update README.md failed"
        git push origin || echo "Push Failed"

